<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel ="tests" name="Suite">
	<listeners>
		<listener class-name="testComponents.Listeners"></listener>
	</listeners>
  <test thread-count="5" name="Error Validations Test ">
    <classes>
      <class name="MyAutomationLearning.FrameWorksSelenium.ErrorValidationsTest"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Regression Test">
    <classes>
      
      <class name="MyAutomationLearning.FrameWorksSelenium.SubmitOrderTest"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Base Test">
    <classes>
      
      <class name="testComponents.BaseTest"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Duplicate Test">
    <classes>
      
      <class name="MyAutomationLearning.FrameWorksSelenium.DuplicateStandAloneTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
